<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Maida Responsive Classified</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/fav.png" type="image/gif" sizes="16x16">
    <style>
    .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 999999;
    text-align: center;
  }
  .logocolor {
    color: #A46FBF !important;
  }
  .centercenter {
    position: relative;
    top: 50%;
  }
  .spinner-grow2 {
    display: inline-block;
    width: 100px !important;
    height: 100px !important;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
  }

    </style>
</head>
<body>
<div class="spinner-wrapper">
    <div class="centercenter">
        <div class="spinner-grow2 logocolor" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<header class="background-header">


    <div class="container">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg   justify-content-between nav-color zeropadd">
                <div class="navbar-header ">
                    <a class="navbar-brand zeropadd" href="index.html">
                        <img src="img/logo_200x200.png" alt="logo" class="max-width-60px"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category.html">Advance Search</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">About Us
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                      <li class="nav-item">
                            <a class="nav-link" href="dashboard.html"><i class="fa fa-user" aria-hidden="true"></i>{{username if username is not none else 'Login / Register'}}</a>
                        </li>
                        <li class="nav-item  bordering">
                            <a class="nav-link" href="postad.html">Post Free Ad</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>
<div class="content allads">
    <div class="hero-homepage subpage">
        <div class="container wrapping-content">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="tagline">
                        <h1>About Us </h1>
                        <!--            <h2>How We Work</h2>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Post section-->
    <div class="post-section aboutus">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="container">
                        <div class="row boxing">
                            <div class="">
                                <div class="boxparent">
                                    <div class="">
                                        <h2>How we Started</h2>
                                    </div>
                                    <p>
                                        Every year, students from Schools and Colleges around the globe promote to a
                                        higher academic level
                                        and no longer require some of their previous year books. So many books every
                                        year are thrown away,
                                        recycled or just merely kept at home piling dust while there are so many around
                                        us who could make good
                                        use of the book and are in dire need of them. However, not always do we happen
                                        to know someone who needs
                                        them. Bookly was started with the intention of connecting all of us- the ones
                                        who can help and the ones who
                                        need it. We wanted to create a platform where we as a society can be there for
                                        one another and help the needy
                                        by selling our books that are no longer required at a minimal or low cost.
                                    </p>
                                    <h2>Vision</h2>
                                    <p>
                                        “We can’t help everyone, but everyone can help someone”
                                        Trying to do our bit, we started with a simple objective of connecting us by
                                        providing a
                                        platform which is an opportunity to those who can help, and a help for those who
                                        need it.
                                        We, at Bookly believe books are our wealth, and that to have them be of no use
                                        is to destroy
                                        its value, Bookly is a platform where you can buy and sell books at minimal
                                        prices.

                                    </p>
                                    <h2>How we work</h2>
                                    <p>
                                        Bookly is a modern day responsive website that is designed as a platform for
                                        users to buy
                                        and sell books online. With an intuitive UI and a large collection of books, one
                                        can quickly
                                        and easily find the books they're looking for. It is built using the Flask
                                        microframework
                                        as the backend and HTML 5, CSS, JavaScript and Bootstrap for the front end. It
                                        provides
                                        users classification by subjects and age-group to facilitate a quick search. It
                                        also
                                        provides a dashboard service to the seller so that they can view and update the
                                        status
                                        of their ads
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer>
    <!--Newsletter section-->
    <!--  <div class="newsletter">-->
    <!--    <div class="container">-->
    <!--      <div class="row">-->
    <!--        <div class="col-lg-3 col-md-12">-->
    <!--          <h2>Newsletter</h2>-->
    <!--        </div>-->
    <!--        <div class="col-lg-4 col-md-12">-->
    <!--          <p>Sign up to receive email updates on new recipes.</p>-->
    <!--        </div>-->
    <!--        <div class="col-lg-5 col-md-12">-->
    <!--          <form>-->
    <!--            <div class="col-sm-12">-->
    <!--              <div class="row zeromargin zeromargin_form_group">-->
    <!--                <div class="form-group col-lg-8 col-sm-12">-->
    <!--                  <input type="email" class="form-control" placeholder="Your email address here...">-->
    <!--                </div>-->
    <!--                <div class="form-group col-lg-4 col-sm-12">-->
    <!--                  <button type="submit" class="whitehover custom-button">Subscribe</button>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </form>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <div class="background-header footer_padding">
        <div class="container">
            <div class="navigation_footer">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="about-us-info">
                            <p>
                                <img src="img/logo_200x200.png" class="max-width-100px" alt="logo"/>
                            </p>
                            <p><i class="fa fa-phone"></i> (+91) 9875532XXX</p>
                            <p><i class="fa fa-map-marker"></i> 123 Street Infront of Macdonald, <br>
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                            <li><a href="loginRegister.html">Login</a></li>

                            <li><a href="faq.html">Faqs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 zeropadd">
                                <p>2019 Maida Themes. copyright @ 2016 - 2019 Powered By <i class="fa fa-heart"></i>
                                    <a href="#" class="greens">Maida</a>
                                </p>
                            </div>
                            <div class="col-md-6 zeropaddon768">
                                <ul class="pages-links zeropadd">
                                    <li><a href="#">Terms &amp; Condition</a></li>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/vendor/jquery-3.4.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
