<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Maida Responsive Classified</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/fav.png" type="image/gif" sizes="16x16">
    <style>
    .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 999999;
    text-align: center;
  }
  .logocolor {
    color: #A46FBF !important;
  }
  .centercenter {
    position: relative;
    top: 50%;
  }
  .spinner-grow2 {
    display: inline-block;
    width: 100px !important;
    height: 100px !important;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
  }











    </style>
</head>
<body>
<div class="spinner-wrapper">
    <div class="centercenter">
        <div class="spinner-grow2 logocolor" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<header class="background-header">


    <div class="container">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg   justify-content-between nav-color zeropadd">
                <div class="navbar-header ">
                    <a class="navbar-brand zeropadd" href="index.html">
                        <img src="img/logo_200x200.png" alt="logo" class="max-width-60px"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category.html">Advance Search</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               class="nav-link dropdown-toggle">Categories <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a href="category.html" class="dropdown-item">Jobs </a></li>
                                <li><a href="category.html" class="dropdown-item">Properties</a></li>
                                <!-- Level two dropdown-->
                                <li class="dropdown-submenu">
                                    <a href="category.html" role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"
                                       class="dropdown-item dropdown-toggle">Phones</a>
                                    <ul class="dropdown-menu border-0 shadow">
                                        <li>
                                            <a tabindex="-1" href="category.html" class="dropdown-item">Apple</a>
                                        </li>
                                        <li><a href="category.html" class="dropdown-item">Samsung</a></li>
                                        <li><a href="category.html" class="dropdown-item">LG</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="category.html" role="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"
                                       class="dropdown-item dropdown-toggle">Cars</a>
                                    <ul class="dropdown-menu border-0 shadow">
                                        <li>
                                            <a tabindex="-1" href="category.html" class="dropdown-item">Toyota</a>
                                        </li>
                                        <li><a href="category.html" class="dropdown-item">Suzuki</a></li>
                                        <li><a href="category.html" class="dropdown-item">Honda</a></li>
                                    </ul>
                                </li>
                                <li><a href="category.html" class="dropdown-item">Rent</a></li>
                                <li><a href="category.html" class="dropdown-item">Serviecs</a></li>

                            </ul>
                        </li>


                        <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About Us
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq.html">FAQ
                <span class="sr-only">(current)</span>
              </a>
            </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="loginRegister.html"><i class="fa fa-user" aria-hidden="true"></i>Login
                                / Register</a>
                        </li>
                        <li class="nav-item  bordering">
                            <a class="nav-link" href="postad.html">Post Free Ad</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>
<div class="content allads">
    <div class="hero-homepage subpage">
        <div class="container wrapping-content">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="search_form search-adjust">
                        <form class="row" action="{{url_for('category')}}" method="post">
                            <div class="form-group col-lg-4 col-sm-12">
                                <label class="font-weight-bold" style="color: black">Search Tag</label>
                                <input type="text" class="form-control" placeholder="What are you looking for?"
                                       name="text">
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <label class="font-weight-bold" style="color: black">Category</label>
                                <select class="form-control" name="domain">
                                    <option>Any</option>
                                    <option>Architecture</option>
                                    <option>Biology</option>
                                    <option>Chemistry</option>
                                    <option>Computer Science</option>
                                    <option>Economics</option>
                                    <option>Engineering</option>
                                    <option>Languages</option>
                                    <option>Law</option>
                                    <option>Mathematics</option>
                                    <option>Physics</option>
                                    <option>Psychology</option>
                                    <option>Social Studies</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <label class="font-weight-bold" style="color: black">Age group</label>
                                <select class="form-control" name="age-group">
                                    <option>Any</option>
                                    <option>0-3 Years</option>
                                    <option>Kindergarten</option>
                                    <option>Primary</option>
                                    <option>Junior Secondary</option>
                                    <option>Senior Secondary</option>
                                    <option>XI/XII</option>
                                    <option>Undergraduate</option>
                                    <option>Post Graduate</option>
                                    <option>Open</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <label class="font-weight-bold" style="color: black">Select State</label>
                                <select class="form-control" name="state">
                                    <option>Any</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Andaman and Nicobar Islands">Andaman and
                                        Nicobar Islands
                                    </option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Dadar and Nagar Haveli">Dadar and Nagar
                                        Haveli
                                    </option>
                                    <option value="Daman and Diu">Daman and Diu</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Puducherry">Puducherry</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <label class="font-weight-bold" style="color: black">ISBN Code</label>
                                <input type="text" class="form-control" name="ISBN">
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <label class="font-weight-bold" style="color: black">Author</label>
                                <input type="text" class="form-control" name="author">
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <div id="rangeBox">
                                    <div id="inputRange">
                                        <div id="sliderBox" class="pricerange">
                                            <div class="row">
                                                <div class="col-12 zeropadd row margin_5px">
                                                    <p class="col-1 showprice d-none d-sm-none d-md-none d-lg-block d-xl-block">
                                                        <strong>Max Price</strong></p>
                                                    <input type="range" id="slider51to100"
                                                           class="col-xl-9 col-lg-9 col-md-12" step="1" min="0"
                                                           max="5000">
                                                    <span class=" zeropadd col-xl-2 col-lg-2 col-md-12 row">
                          <i class="col-xl-3 col-lg-3 col-md-2 col-sm-2 col-2 fa fa-inr"></i>
                          <input type="number" min="0"
                                 class=" form-control col-xl-9 col-lg-9 col-md-10 col-sm-10 col-10 " max="5000"
                                 placeholder="Max" id="max" name="max">
                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <button type="submit" class="custom-button">Search</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--Post section-->
    <div class="post-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Category</li>
                        </ol>
                    </nav>
                    <h2 class="styleh2 karma text-center">Phone </h2>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-9 col-sm-12">
                    <div class="row">
                        {%for ad in ads%}
                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 margin_10px">
                            <div class="post-box">
                                <div class="thumbnail-holder">
                                    <a href="product?id={{ad['ad_id']}}">
                                        <img src="{{ad['images'][0]}}" alt="{{ad['title']}}">
                                    </a>
                                </div>
                                <div class="post-box-content">
                                    <h3><a href="#">{{ad['title']}}</a></h3>

                                    <div class="post-category">
                                        <a href="#"> <i class="fa fa-list-alt"></i>{{ad['category']}}</a>
                                    </div>
                                    <div class="post-location">
                                        <a href="#"> <i class="fa fa-location-arrow"></i>{{ad['city']}},{{ad['state']}}</a>
                                    </div>
                                    <div class="post-meta">
                                        <i class="fa fa-inr"></i>{{ad['price']}}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<footer>
    <!--Newsletter section-->
    <div class="background-header footer_padding">
        <div class="container">
            <div class="navigation_footer">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="about-us-info">
                            <p>
                                <img src="img/logo_200x200.png" class="max-width-100px" alt="logo"/>
                            </p>
                            <p><i class="fa fa-phone"></i>  (+91) 9875532XXX</p>
                            <p><i class="fa fa-envelope"></i> bookly.enquiry@gmail.com <br>
                                </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Popular Categories</h3>
                        <ul>
                            <li><a href="category.html">Properties</a></li>
                            <li><a href="category.html">Jobs</a></li>
                            <li><a href="category.html">Phones</a></li>
                            <li><a href="category.html">Cars</a></li>
                            <li><a href="category.html">Rent</a></li>
                            <li><a href="category.html">Electronics</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                            <li><a href="#">Login</a></li>

                            <li><a href="faq.html">Faqs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 zeropadd">
                                <p>2019 Maida Themes. copyright @ 2016 - 2019 Powered By <i class="fa fa-heart"></i>
                                    <a href="#" class="greens">Maida</a>
                                </p>
                            </div>
                            <div class="col-md-6 zeropaddon768">
                                <ul class="pages-links zeropadd">
                                    <li><a href="#">Terms &amp; Condition</a></li>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/vendor/jquery-3.4.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
