<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Maida Responsive Classified</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/fav.png" type="image/gif" sizes="16x16">
    <style>
    .spinner-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      z-index: 999999;
      text-align: center;
    }
    .logocolor {
      color: #A46FBF !important;
    }
    .centercenter {
      position: relative;
      top: 50%;
    }
    .spinner-grow2 {
      display: inline-block;
      width: 100px !important;
      height: 100px !important;
      vertical-align: text-bottom;
      background-color: currentColor;
      border-radius: 50%;
      opacity: 0;
      -webkit-animation: spinner-grow .75s linear infinite;
      animation: spinner-grow .75s linear infinite;
    }




    </style>
    <script src="https://kit.fontawesome.com/0eab3f28b6.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="spinner-wrapper">
    <div class="centercenter">
        <div class="spinner-grow2 logocolor" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<header class="background-header">
    <div class="container">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg   justify-content-between nav-color zeropadd">
                <div class="navbar-header ">
                    <a class="navbar-brand zeropadd" href="index.html">
                        <img src="img/logo.png" alt="logo" class="max-width-60px"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category.html">Advance Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">About Us
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{profile_link}}><i class="fa fa-user" aria-hidden="true"></i>{{username}}</a>
                        </li>
                        <li class="nav-item  bordering">
                            <a class="nav-link" href="postad.html">Post Free Ad</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>
<div class="content">
    <!--hero banner section-->
    <div class="hero-homepage">
        <div class="container wrapping-content">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="tagline">
                        <h1>Find Books Near You</h1>
                        <h2>{{count}} ads posted</h2>
                    </div>
                    <div class="search_form">
                        <form class="row" action="{{url_for('home')}}" method="post">
                            <div class="form-group col-lg-4 col-sm-12">
                                <input type="text" class="form-control" placeholder="What are you looking for?" name="text">
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <select class="form-control" name="domain">
                                    <option>Any</option>
                                    <option>Architecture</option>
                                    <option>Biology</option>
                                    <option>Chemistry</option>
                                    <option>Computer Science</option>
                                    <option>Economics</option>
                                    <option>Engineering</option>
                                    <option>Languages</option>
                                    <option>Law</option>
                                    <option>Mathematics</option>
                                    <option>Physics</option>
                                    <option>Psychology</option>
                                    <option>Social Studies</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-sm-12">
                                <button type="submit" class="custom-button">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Category section-->
    <div class="category-container">
        <div class="container">
            <h2 class="text-center styleh2 karma"><a class="greens" href="#">Categories</a></h2>
            <div class="cat-icons">
                <a href="category.html?domain=Architecture">
                    <div class="mainicon">
                        <i class="fas fa-pencil-ruler"></i>
                        <span class="text-icon">Architecture</span>
                    </div>
                </a>
                <a href="category.html?domain=Biology">
                    <div class="mainicon">
                        <i class="fas fa-dna"></i>
                        <span class="text-icon">Biology</span>
                    </div>
                </a>
                <a href="category.html?domain=Chemistry">
                    <div class="mainicon">
                        <i class="fas fa-flask" aria-hidden="true"></i>
                        <span class="text-icon">Chemistry</span>
                    </div>
                </a>
                <a href="category.html?domain=Computers">
                    <div class="mainicon">
                        <i class="fas fa-code" aria-hidden="true"></i>
                        <span class="text-icon">Computers</span>
                    </div>
                </a>
                <a href="category.html?domain=Economics">
                    <div class="mainicon">
                        <i class="fas fa-chart-line"></i>
                        <span class="text-icon">Economics</span>
                    </div>
                </a>
                <a href="category.html?domain=Engineering">
                    <div class="mainicon">
                        <i class="fas fa-cog"></i>
                        <span class="text-icon">Engineering</span>
                    </div>
                </a>
                <a href="category.html?domain=Languages">
                    <div class="mainicon">
                        <i class="fas fa-language"></i>
                        <span class="text-icon">Languages</span>
                    </div>
                </a>
                <a href="category.html?domain=Law">
                    <div class="mainicon">
                        <i class="fas fa-gavel" aria-hidden="true"></i>
                        <span class="text-icon">Law</span>
                    </div>
                </a>
                <a href="category.html?domain=Mathematics">
                    <div class="mainicon">
                        <i class="fas fa-square-root-alt"></i>
                        <span class="text-icon">Mathematics</span>
                    </div>
                </a>
                <a href="category.html?domain=Physics">
                    <div class="mainicon">
                        <i class="fas fa-atom"></i>
                        <span class="text-icon">Physics</span>
                    </div>
                </a>
                <a href="category.html?domain=Psychology">
                    <div class="mainicon">
                        <i class="fas fa-brain"></i>
                        <span class="text-icon">Psychology</span>
                    </div>
                </a>
                <a href="category.html?domain=Social Studies">
                    <div class="mainicon">
                        <i class="fas fa-globe"></i>
                        <span class="text-icon">Social Studies</span>
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--Post section-->
    <div class="post-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="styleh2 karma text-center">Latest Ads </h2>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-9 col-sm-12">
                    <div class="row">

                        {% for ad in ads %}
                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 margin_10px">
                            <div class="post-box">
                                <div class="thumbnail-holder">
                                    <a href="product?id={{ad['ad_id']}}">
                                        <img src="{{ad['images'][0]}}" alt="{ad[0]}">
                                    </a>
                                </div>
                                <div class="post-box-content">
                                    <h3><a href="product?id={{ad['ad_id']}}">{{ad['title']}}</a></h3>

                                    <div class="post-category">
                                        <a href="#"> <i class="fa fa-list-alt"></i> {{ad['category']}}</a>
                                    </div>

                                    <div class="post-location">
                                        <a href="#"> <i class="fa fa-location-arrow"></i> {{ad['city']}}</a>
                                    </div>

                                    <div class="post-meta">
                                        <i class="fa fa-inr"></i>{{ad['price']}}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-xl-12 margin_10px">
                            <div class="text-center">
                                <a href="{{url_for('allads')}}" class="custom-button">Show All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="background-header footer_padding">
        <div class="container">
            <div class="navigation_footer">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="about-us-info" style="color: white">
                            <p>
                                <img src="img/logo_200x200.png" class="max-width-100px" alt="logo"/>
                            </p>
                            <p><i class="fa fa-phone"></i> (+91) 9875532XXX</p>
                            <p><i class="fa fa-envelope"></i> bookly.enquiry@gmail.com <br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3><span style="color: white"> Popular Categories</span></h3>
                        <ul>
                            <li><a href="category.html">Properties</a></li>
                            <li><a href="category.html">Jobs</a></li>
                            <li><a href="category.html">Phones</a></li>
                            <li><a href="category.html">Cars</a></li>
                            <li><a href="category.html">Rent</a></li>
                            <li><a href="category.html">Electronics</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3><span style="color: white">Important Links</span></h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                            <li><a href="#">Login</a></li>

                            <li><a href="faq.html">Faqs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 zeropadd">
                            </div>
                            <div class="col-md-6 zeropaddon768">
                                <ul class="pages-links zeropadd">
                                    <li><a href="#">Terms &amp; Condition</a></li>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/vendor/jquery-3.4.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
