<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Maida Responsive Classified</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/fav.png" type="image/gif" sizes="16x16">
    <style>
    .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 999999;
    text-align: center;
  }
  .logocolor {
    color: #A46FBF !important;
  }
  .centercenter {
    position: relative;
    top: 50%;
  }
  .spinner-grow2 {
    display: inline-block;
    width: 100px !important;
    height: 100px !important;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
  }

    </style>
</head>
<body>
<div class="spinner-wrapper">
    <div class="centercenter">
        <div class="spinner-grow2 logocolor" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<header class="background-header">


    <div class="container">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg   justify-content-between nav-color zeropadd">
                <div class="navbar-header ">
                    <a class="navbar-brand zeropadd" href="index.html">
                        <img src="img/logo_200x200.png" alt="logo" class="max-width-60px"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category.html">Advance Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">About Us
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="postad.html">Post Free Ad</a>
                        </li>
                        <li class="nav-item dropdown imagedrops">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               class="nav-link dropdown-toggle">
              <span>
                <img class="max-width-50px rounded-circle" src="img/logo.png" alt="Maida themes">
              </span> {{my_ads['username']}} <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li><a href="aboutus.html" class="dropdown-item"><i class="fa fa-dashboard"></i>
                                    Dashboard</a></li>
                                <li><a href="loginRegister.html" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>
<div class="content blog">
    <div class="coverimage">
        <img src="img/OIP.jpg" class="bannercoveruser" alt="banner">

    </div>
    <!--Post section-->
    <div class="post-section blog">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <div class="widget">
                        <div class="rounded-circle customsize">
                            <img src="img/logo_200x200.png" class="topupset" alt="logo"/>
                        </div>
                        <div class="admin-box">
                            <div class="user">
                                <div class="username colorcodebage">
                                    <h3>{{username}}</h3>

                                </div>
                            </div>
                            <nav class="navdashboard">
                                <ul>
                                    <li>
                                        <a href="dashboard.html">
                                            <i class="fa fa-dashboard"></i>
                                            <span>My Profile</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="myads.html">
                                            <span data-icon="V" class="icon"></span>
                                            <span>My Ads</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin_10px">
                            <div class="wrappingrow borderingnew d-sm-none d-xl-block d-lg-block d-md-none d-none">
                                <div class="row cardtag">
                                    <div class="col-4">Title</div>
                                    <div class="col-2">Ad Image</div>
                                    <div class="col-2">Category</div>
                                    <div class="col-2">Status</div>
                                    <div class="col-2">Action</div>
                                </div>
                            </div>
                            {%for ad in my_ads%}
                            <div class="wrappingrow">
                                <div class="row cardtag">
                                    <div
                                            class="col-12 col-sm-12 col-lg-4 col-xl-4 text-sm-center text-center text-md-center text-lg-left col-4 margintadjst">
                                        {{ad['title']}}
                                    </div>
                                    <div class="col-6 col-sm-3  col-lg-3 col-xl-2">
                                        <img alt="{{ad['title']}}" src="{{ad['images'][0]}}"/>
                                    </div>
                                    <div class="col-8 col-sm-3 col-lg-2 col-xl-2 margintadjst"><i
                                            class="fa fa-list-alt"></i>{{ad['category']}}
                                    </div>
                                    <div class="col-6 col-sm-3 col-lg-2 col-xl-2 margintadjst">
                                        <a class="btn-action" href="{{url_for('toggle_status',ad_id=ad['ad_id'])}}">
                                            <i class="fa fa-star{{'' if ad['status'] == 'Active' else '-o'}}"></i>{{ad['status']}}
                                        </a>
                                    </div>
                                    <div class="col-6 col-sm-3 col-lg-2 col-xl-2 margintadjst">
                                        <div class="btns-actions">
                                            <a class="btn-action btn-view" href="#"><i class="fa fa-eye"></i>
                                                {{ad['views']}} </a>
                                            <a class="btn-action btn-edit" href="{{url_for('editad',ad_id=ad['ad_id'])}}"><i class="fa fa-pencil"></i>
                                                Edit</a>
                                            <a class="btn-action btn-delete" href="{{url_for('delete',ad_id=ad['ad_id'])}}"><i class="fa fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer>
    <!--Newsletter section-->

    <div class="background-header footer_padding">
        <div class="container">
            <div class="navigation_footer">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="about-us-info">
                            <p>
                                <img src="img/logo_200x200.png" class="max-width-100px" alt="logo"/>
                            </p>
                            <p><i class="fa fa-phone"></i> (+91) 9875532XXX</p>
                            <p><i class="fa fa-envelope"></i> bookly.enquiry@gmail.com <br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Popular Categories</h3>
                        <ul>
                            <li><a href="category.html">Properties</a></li>
                            <li><a href="category.html">Jobs</a></li>
                            <li><a href="category.html">Phones</a></li>
                            <li><a href="category.html">Cars</a></li>
                            <li><a href="category.html">Rent</a></li>
                            <li><a href="category.html">Electronics</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                            <li><a href="#">Login</a></li>

                            <li><a href="faq.html">Faqs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 zeropadd">
                                <p>2019 Maida Themes. copyright @ 2016 - 2019 Powered By <i class="fa fa-heart"></i>
                                    <a href="#" class="greens">Maida</a>
                                </p>
                            </div>
                            <div class="col-md-6 zeropaddon768">
                                <ul class="pages-links zeropadd">
                                    <li><a href="#">Terms &amp; Condition</a></li>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/vendor/jquery-3.4.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
