<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Maida Responsive Classified</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/fav.png" type="image/gif" sizes="16x16">
    <style>
    .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 999999;
    text-align: center;
  }
  .logocolor {
    color: #A46FBF !important;
  }
  .centercenter {
    position: relative;
    top: 50%;
  }
  .spinner-grow2 {
    display: inline-block;
    width: 100px !important;
    height: 100px !important;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
  }



    </style>
</head>
<body>
<div class="spinner-wrapper" style="display: none;">
    <div class="centercenter">
        <div class="spinner-grow2 logocolor" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<header class="background-header">


    <div class="container">
        <div class="navigation">
            <nav class="navbar navbar-expand-lg   justify-content-between nav-color zeropadd">
                <div class="navbar-header ">
                    <a class="navbar-brand zeropadd" href="index.html">
                        <img src="img/logo.png" alt="logo" class="max-width-60px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category.html">Advance Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="aboutus.html">About Us
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">FAQ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">Contact Us</a>
                        </li>
                      <li class="nav-item">
                            <a class="nav-link" href="dashboard.html"><i class="fa fa-user" aria-hidden="true"></i>{{username if username is not none else 'Login / Register'}}</a>
                        </li>
                        <li class="nav-item  bordering">
                            <a class="nav-link" href="postad.html">Post Free Ad</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>
<div class="content blog">
    <div class="hero-homepage subpage">
        <div class="container wrapping-content">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="tagline">
                        <h1></h1>
<!--                        <h2>Where Comes Quality</h2>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Post section-->
    <div class="post-section blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Products</li>
                        </ol>
                    </nav>
                    <h2 class="styleh2 karma margin_10px">{{title}} </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div id="productcarosal" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner height-adjust">
                            {%for i in images%}
                            <div class="carousel-item {{'active' if loop.index == 1}}">
                                <img class="d-block w-100" src="{{i}}" alt="{{title}}">
                            </div>
                            {%endfor%}
                        </div>
                        <a class="carousel-control-prev coloring" href="#productcarosal" role="button"
                           data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next coloring" href="#productcarosal" role="button"
                           data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12 first-height">
                    <div class="boxwedigt margin_10px ">
                        <div class="text-center">
                            <h4><i class="fa fa-inr"></i> <span class="karma">{{price}}</span></h4>
                            <br>
                            <h5><span class="karma"><strong>Age Group:</strong> {{age_group}}</span></h5>

                            <h5 class="margin_10px"><a href="#"><i class="fa fa-list-alt"></i> {{domain}}</a></h5>
                        </div>
                    </div>

                    <div class="boxwedigt margin_10px ">
                        <div class="text-center">
                            <h4><a href="#"><i class="fa fa-user"></i> <span class="karma">{{seller}}</span></a></h4>
                            <img src="img/logo.png" class="rounded-circle square-height max-width-50px margin_10px">
                            <div class="clearfix"></div>
                            <p class="margin_10px mb-0"><a href="mailto:{{seller_phone}}"><strong><i class="fa fa-envelope"></i>
                                {{seller_phone}}</strong></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="post-content-wrapper bg-white">
                        <div class="entry-summary boxwedigt ">
                            <div class="row">
                                <div class="col-sm-3 col-6 col-md-3">
                                    <a href="#"><strong>City</strong></a>

                                </div>
                                <div class="col-sm-3  col-6 col-md-3">
                                    <a href="#">{{city}}</a>

                                </div>
                                <div class="col-sm-3  col-6 col-md-3">
                                    <a href="#"><strong>State</strong></a>
                                </div>
                                <div class="col-sm-3  col-6 col-md-3">
                                    <a href="#">{{state}}</a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-6 col-md-3">
                                    <a href="#"><strong>Author</strong></a>

                                </div>
                                <div class="col-sm-3  col-6 col-md-3">
                                    <a href="#">{{author}}</a>

                                </div>
                                <div class="col-sm-3  col-6 col-md-3">
                                    <a href="#"><strong>ISBN</strong></a>

                                </div>
                                <div class="col-sm-3  col-6 col-md-3">
                                    <a href="#">{{ISBN}}</a>

                                </div>

                            </div>
                            <div class="row">
                            </div>

                            <div class="col-sm-3  col-6 col-md-3">
                                <a href="#"></a>

                            </div>

                        </div>
                        <div class="row">


                        </div>
                    </div>
                    <div class="entry-summary">
                        {{desc}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<footer>
    <!--Newsletter section-->

    <div class="background-header footer_padding">
        <div class="container">
            <div class="navigation_footer">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="about-us-info">
                            <p>
                                <img src="img/logo_200x200.png" class="max-width-100px" alt="logo">
                            </p>
                            <p><i class="fa fa-phone"></i> (+91) 9875532XXX</p>
                            <p><i class="fa fa-envelope"></i> bookly.enquiry@gmail.com <br>
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                            <li><a href="loginRegister.html">Login</a></li>

                            <li><a href="faq.html">Faqs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 zeropadd">
                                <p>2019 Maida Themes. copyright @ 2016 - 2019 Powered By <i class="fa fa-heart"></i>
                                    <a href="#" class="greens">Maida</a>
                                </p>
                            </div>
                            <div class="col-md-6 zeropaddon768">
                                <ul class="pages-links zeropadd">
                                    <li><a href="#">Terms &amp; Condition</a></li>
                                    <li><a href="dashboard.html">Dashboard</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/vendor/jquery-3.4.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
